.event-show-main{
  height: 100vh;
  width: 100vw;
  background-color: #fffddd;
}

.event-title{
  font-size: 25px;
}

.event-content{
  font-size: 20px;
}


.event-destroy-btn{
  text-align: center;
  background-color: #ea352d;
  font-size: px;
  font-weight: bold;
  color: #FFF;
  margin: 5px 0px;
  padding: 5px 5px;
}