a {
  text-decoration: none;
}

.main{
  height: 100vh;
  width: 100vw;
  background-color: #fffddd;
}


.album-main{
  width: 100vw;
  background-color: #fffddd;
  text-align: center;
}

.album-title{
  text-align: center;
  color:#a37058;
  font-size: 50px;
}