<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @album, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "アルバム名" %>
       <%= form.file_field :image, id:"album-image" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>