<%= render "shared/header" %>
<div class=main>
  <div class=album-main>
    <% @albums.each do |album| %>
      <%= link_to  album_path( album.id) do %>
        <div class="album-title">
          <%=album.title %>
        </div>
        <%= image_tag album.images[0], class:"album-img"%>
      <%end%>
    <%end%>
  </div>
